.home-component {
    padding-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    .home-wrapper {
        

        .home-title {
            font-size: 30px;
            font-weight: 800;
        }

        .home-description {
            color: hsl(0, 0%, 63%);
        }

        .home-button {
            display: flex;

            .button-title {
                color: hsl(0, 0%, 27%);
                padding-bottom: 1rem;
            }

            .button-arrow {
                margin-left: 2rem;
            }
        }

        .button-slider {
            background-color: black;
            width: 20%;
            padding: 1rem 1rem;

            .slider-item {
                padding-right: 4rem;
            }
        }
    }
}